
@import "utilidades/listas";
@import "utilidades/variables";
@import "utilidades/mixin";

@import "layout/header";
@import "layout/footer";



@import "secciones/index";
@import "secciones/productos";
@import "secciones/servicios";
@import "secciones/ubicacion";
@import "secciones/contacto";

@import "media-query/mobile";
@import "media-query/tablet";
@import "media-query/desktop";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: nth($colores, 2);
    padding: 5px 10px;
    text-align: center;
    margin: 10px;
}





