main.contact-container{
        h1{
            text-align: center;
            text-decoration: underline;
            font-family: "Khand", sans-serif;
            font-weight: 700;
            text-shadow: 1px 1px 1px #4f4f4f;
            padding-top: 10px;
        }

        h3{
            color: #191919;
            font-size: large;
            text-align: start;
        }

        
    }
