main.ubicacion{    
        h1{
            text-align: center;
            text-decoration: underline;
            font-family: $font;
            font-weight: 700;
            text-shadow: 1px 1px 1px #4f4f4f;
            padding-top: 10px;
        }

        h3{
            color: nth($colores, 4);
            font-size: x-large;
            text-align: start;
            
        }

        iframe{
            width: 100%;
            height: 400px;
            display: flex;
            justify-content: center;
            
            
        }
        p{
            font-family: $font;    
            font-size: $f-size; 
            font-weight:$f-weight;
        }
    }
