//MEDIA QUERY TABLET

@media screen and (min-width: $breakpoint-tablet-min) and (max-width: $breakpoint-tablet-max) {
    header{
        div{
            img.logo{
                width: 25%;
            }
        }
    }

    //INDEX
    main.index{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    //HTML PRODUCTOS
    main.productos{
        div.grid-container{         
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            
        
            div.product{
                img {
                    width: 50%;
                    display: block;
                    margin: 0 auto;
                    
                }
            }
        
        }
    }
    
    //HTML SERVICIOS
    main.servicios{
        div.services-container{
            display: grid;            
            grid-template-columns: repeat(2, 1fr);  
            gap: 20px; 
            justify-content: center;         
        
        div.servicio{
            img.img-services-derecha{
                width: 85%;
                display: block;
                margin: 0 auto;
                left: 0;
                
                
            }
            
            img.img-services{
                width:85%;
                display: block;
                margin: 0 auto;    
            }
        }

        }
    }

    //HTML UBICACION

    main.ubicacion{
        iframe{
            height: 275px;
        }
    }

    //HTML CONTACTO

    main.contact-container{
        form{
        display: flex;
        flex-direction: column;
        }

    }
    
        
    footer {
        nav{
            ul{
                li{
                    a{
                        justify-content: space-around;
                    }
                }
            }
        }   
    }

}