$font: "Khand", sans-serif;
$f-size: x-large;
$f-weight: 400;

$breakpoint-mobile: 600px;
$breakpoint-tablet-min: 601px;
$breakpoint-tablet-max: 768px;
$breakpoint-desktop-min: 769px;
$breakpoint-desktop-max: 1200px;